{
  "ignore": "node_modules",
  "minified": true,
  "comments": false,
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "6.11.5"
        },
        "loose": true,
        "modules": "commonjs"
      }
    ]
  ],
  "plugins": [
    ["transform-runtime"],
    ["transform-class-properties"],
    ["transform-object-rest-spread", {"useBuiltIns": true}]
  ]
}
